[submodule "ag.el"]
	path = ext/ag.el
	url = https://github.com/Wilfred/ag.el
[submodule "editorconfig-emacs"]
	path = ext/editorconfig-emacs
	url = https://github.com/editorconfig/editorconfig-emacs
[submodule "swiper"]
	path = ext/swiper
	url = https://github.com/abo-abo/swiper
[submodule "dash.el"]
	path = ext/dash.el
	url = https://github.com/magnars/dash.el
[submodule "ext/s.el"]
	path = ext/s.el
	url = https://github.com/magnars/s.el
[submodule "ext/multiple-cursors.el"]
	path = ext/multiple-cursors.el
	url = https://github.com/magnars/multiple-cursors.el
[submodule "flycheck"]
	path = ext/flycheck
	url = https://github.com/flycheck/flycheck
