[submodule "ext/hydra.git"]
	path = ext/hydra.git
	url = https://github.com/abo-abo/hydra.git
[submodule "ext/undercover.el"]
	path = ext/undercover.el
	url = https://github.com/undercover-el/undercover.el
[submodule "ext/shut-up"]
	path = ext/shut-up
	url = https://github.com/cask/shut-up
[submodule "ext/org-mode"]
	path = ext/org-mode
	url = https://code.orgmode.org/bzg/org-mode.git
[submodule "ext/emacs-async"]
	path = ext/emacs-async
	url = https://github.com/jwiegley/emacs-async.git
[submodule "ext/use-package"]
	path = ext/use-package
	url = https://github.com/jwiegley/use-package.git
