[submodule "ag.el"]
	path = ext/ag.el
	url = https://github.com/Wilfred/ag.el
[submodule "editorconfig-emacs"]
	path = ext/editorconfig-emacs
	url = https://github.com/editorconfig/editorconfig-emacs
[submodule "swiper"]
	path = ext/swiper
	url = https://github.com/abo-abo/swiper
[submodule "dash.el"]
	path = ext/dash.el
	url = https://github.com/magnars/dash.el
[submodule "ext/s.el"]
	path = ext/s.el
	url = https://github.com/magnars/s.el
[submodule "ext/multiple-cursors.el"]
	path = ext/multiple-cursors.el
	url = https://github.com/magnars/multiple-cursors.el
[submodule "flycheck"]
	path = ext/flycheck
	url = https://github.com/flycheck/flycheck
[submodule "ext/with-editor"]
	path = ext/with-editor
	url = https://github.com/magit/with-editor
[submodule "ext/transient"]
	path = ext/transient
	url = https://github.com/magit/transient
[submodule "magit"]
	path = ext/magit
	url = https://github.com/magit/magit
[submodule "ext/seq"]
	path = ext/seq
	url = https://github.com/Olzaq/seq.el.git
[submodule "ext/f.el"]
	path = ext/f.el
	url = https://github.com/rejeep/f.el
[submodule "ext/hydra.git"]
	path = ext/hydra.git
	url = https://github.com/abo-abo/hydra.git
[submodule "ext/undercover.el"]
	path = ext/undercover.el
	url = https://github.com/undercover-el/undercover.el
[submodule "ext/shut-up"]
	path = ext/shut-up
	url = https://github.com/cask/shut-up
[submodule "ext/irony-mode"]
	path = ext/irony-mode
	url = https://github.com/Sarcasm/irony-mode.git
[submodule "ext/company-mode"]
	path = ext/company-mode
	url = https://github.com/company-mode/company-mode.git
[submodule "ext/company-irony"]
	path = ext/company-irony
	url = https://github.com/Sarcasm/company-irony.git
[submodule "ext/org-mode"]
	path = ext/org-mode
	url = https://code.orgmode.org/bzg/org-mode.git
[submodule "ext/expand-region"]
	path = ext/expand-region
	url = https://github.com/magnars/expand-region.el.git
[submodule "ext/dockerfile-mode"]
	path = ext/dockerfile-mode
	url = https://github.com/spotify/dockerfile-mode.git
[submodule "ext/zygospore.el"]
	path = ext/zygospore.el
	url = https://github.com/LouisKottmann/zygospore.el.git
[submodule "ext/helm"]
	path = ext/helm
	url = https://github.com/emacs-helm/helm.git
[submodule "ext/emacs-async"]
	path = ext/emacs-async
	url = https://github.com/jwiegley/emacs-async.git
[submodule "ext/helm-gtags"]
	path = ext/helm-gtags
	url = https://github.com/emacsorphanage/helm-gtags.git
[submodule "ext/cmake-ide"]
	path = ext/cmake-ide
	url = https://github.com/atilaneves/cmake-ide.git
[submodule "ext/rtags"]
	path = ext/rtags
	url = https://github.com/Andersbakken/rtags.git
